*{
    box-sizing: border-box;
    margin: 0;
    font-family: sans-serif;
    scroll-behavior: smooth;
}
header{
    width: 100%;
    height: 600px;
    background-image: url('home-1.jpg');
    background-size: cover;
    /* border-bottom: 5px solid #ffae00; */
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}
.gradient{
    background: linear-gradient(to right, rgba(28, 181, 224, 0.8), rgba(0, 0, 70, 0.8));
    width: 100%;
    height: 100%;
}
nav ul li{
    list-style: none;
    display: inline-block;
    padding: 20px 17px;
}
nav ul li a{
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-family: sans-serif;
}
nav ul li a:hover{
    color: #ffae00;
}
section{
    width: 50%;
    margin: auto;
    text-align: center;
    color: white;
}
.name{
    font-size: 80px;
    font-family: sans-serif;
    font-weight: 800;
}
.description{
    padding: 30px 0;
    opacity: 0;
    margin-top: 50px;
    transition: all 0.8s;
    font-size: 20px;
}
.description a{
    text-decoration: underline;
    color: white;
}
.homeIcons{    
    opacity: 0;
    margin-top: 50px;
    transition: all 0.8s;
}
.homeIcons *{
    display: inline-block;
}
.homeIcons a{
    color: white;
    font-size: 25px;
    padding: 10px;
}
.homeIcons button{
    color: #0b56a4;
    background-color: white;
    outline: none;
    border: none;
    padding: 10px 20px;
    font-size: 14px;
    font-weight: bold;
    margin: 3px 0 15px 0;
    cursor: pointer;
    border-radius: 5px;
    border: 2px solid white;
}
.homeIcons button i{
    padding: 0px 10px 0 0px;
    font-size: 15px;
}
.ttl{
    color: #ffae00;
    padding: 100px 0 0 0;
    font-weight: bold;
    font-size: 15px;
}
.container{
    width: 80%;
    text-align: center;
    margin: auto;
}
#skills{
    background-color: #e8ece8;
    height: 550px;
    transition: all 0.5s;
}
.skillsDiv{
    margin-top: 160px;
    opacity: 0;
    transition: all 0.8s;
}
.projectsDiv{    
    margin-top: 150px;
    opacity: 0;
    transition: all 0.8s;
}
.skillsDiv, .projectsDiv, .contactDiv{
    display: flex;
    flex-direction: row;
    padding: 100px 0;
    justify-content: space-between;
    flex-wrap: wrap;
}
.skill{
    padding: 0 30px;
}
.skill i{
    /* font-size: 130px; */
    /* color: #0b56a4; */
    font-size: 130px;
    color: lightslategray;
}
.skill p{
    padding: 20px 0;
    font-weight: bold;
    user-select: none;
    opacity: 1;
}
.arrow{
    display: none;
}
.prev, .next{
    cursor: pointer;
    width: 40px;
    height: 40px;
    font-size: 23px;
    user-select: none;
    padding: 0 10px;
}
.project{
    margin: 15px;
    border: 2px solid #e8ece8;
    -webkit-box-shadow: 10px 10px 31px -8px rgba(0,0,0,0.51);
    -moz-box-shadow: 10px 10px 31px -8px rgba(0,0,0,0.51);
    box-shadow: 10px 10px 31px -8px rgba(0,0,0,0.51);
}
.project img{
    width: 300px;
    height: 180px;
}
.img{    
    overflow: hidden;
    position: relative;
}
.bg{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    left: 0;    
    transform: translate(0, 200px);
    transition: all 0.5s;
    color: white;
}
.bg h2{
    padding: 25px 0;
}
.projectInfo{
    background-color: #e8ece8;
}
.projectInfo > div{
    padding: 10px;
}
.icon{
    display: inline-block;
    margin: 0 20px;
}
.icon i{
    font-size: 25px;
    text-align: center;
    padding: 5px 0;
    color: #0b56a4;
}
.icon i:hover{
    color: #ffae00;
}
#contact{
    background-color: #e8ece8;
}
#contact .container{
    width: 100%;
}
.contactDiv{
    flex-direction: column;
}
.contactData{
    display: flex;
    flex-direction: row;
    color: #0b56a4;
    text-align: center;
}
.tel, .mail{
    flex: 50%;
    font-size: 40px;
    padding: 0 50px;
}
.tel{
    text-align: right;
    padding: 0 50px 0 0;
}
.mail{
    text-align: left;
    padding: 0 0 0 50px;
}
.contactData i{
    padding: 0 10px 0 0;
}
.contactDiv hr{
    width: 60%;
    text-align: center;
}
.formDiv input, textarea{
    border: none;
    border-bottom: 1px solid #0b56a4;
    padding: 5px 10px;
    font-size: 20px;
    background-color: inherit;
    outline: none;
    width: 30%;
    margin: 10px 0;
}
.formDiv button{
    color: white;
    background-color: #0b56a4;
    outline: none;
    border: none;
    padding: 13px 20px;
    font-size: 14px;
    font-weight: bold;
    margin: 3px 0 20px 0;
    cursor: pointer;
    border-radius: 5px;
    border: 2px solid #0b56a4;
}
.formDiv button:hover{
    color: #0b56a4;
    background-color: white;
    border: 2px solid #0b56a4;
}
footer{
    background-color: #0b56a4;
    color: white;
    text-align: center;
    padding: 10px 0;
}
footer h5{
    padding: 20px 0;
}
footer .navIcons a{
    color: white;
    font-size: 25px;
    padding: 15px;
}
#toTop{
    width: 45px;
    height: 45px;
    position: absolute;
    overflow: hidden;
    right: -50px;
    bottom: 35px;
    transition: right 1s;
    position: fixed;
    border-radius: 30px;
    cursor: pointer;
    background-color: transparent;
    text-align: center;
}
#toTop i{
    font-size: 40px;
    border-radius: 30%;
    padding: 5px;
    color: #ffae00;
}
#mobileNav {
    width: 100%;
    height: 60px;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    background-color: white;
    z-index: 100;
}
#mobileNav #hamburgerMenuBtn{
    margin: 10px;
}
.bar1, .bar2, .bar3 {
    width: 30px;
    height: 10px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
}
.asd{
    display: block;
}
.change .bar1 {
    transform: rotate(-45deg) translate(-9px, 6px);
}  
.change .bar2 {
    opacity: 0;
}
.change .bar3 {
    transform: rotate(45deg) translate(-8px, -7px);
}
#mobileNav #hamburgerMenuBtn i {
    padding: 12px 15px;
    color: black;
    font-size: 35px;
}
#mobileNav #hamburgerMenuBtn div {
    width: 30px;
    height: 5px;
    display: block;
    background-color: black;
}
#navModal{
	display: none;
}
@media (max-width: 1260px){
    .container{
        width: 90%;
    }
}

@media (max-width: 1150px){
    .name {
        font-size: 70px;
    }
    .container{
        width: 95%;
    }
    .project{
        flex: 40%;
    }
    .project img{
        width: 100%;
        height: 250px;
    }
    .bg{
        transform: translate(0, 270px);
    }
    .skill{
        padding: 0;
    }
    .contactData{
        flex-direction: column;
        padding: 0 0 40px 0;
    }
    .tel, .mail{
        padding: 0 0 15px 0;
        text-align: center;
    }
}
@media (max-width: 950px){
    .name{
        font-size: 60px;;
    }
    .formDiv input, textarea{
        width: 50%;
    }
}
@media (max-width: 800px){
    section{
        width: 70%;
    }
    .projectsDiv{
        padding: 70px 0;
    }
    .project{
        flex: 40%;
    }
    .project img{
        height: 200px;
    }    
    #skills{
        height: 650px;
    }
    .skillsDiv{
        padding: 70px 0;
    }
    .skill{
        /* flex: 33%; */
    }
    .tel, .mail{
        font-size: 30px;
    }
}
@media (max-width: 650px){
    .projectsDiv{
        padding: 70px 0;
    }
    .project img{
        height: 150px;
    }
    .skillsDiv{
        padding: 70px 0;
    }
    .formDiv input, textarea{
        width: 60%;
        margin: 6px 0;
        font-size: 17px;
    }
    header{
        height: 500px;
    }
    nav ul{
        text-align: center;
        padding: 0;
    }
    nav ul li{
        padding: 20px 10px;
    }
    nav ul li a{        
        font-size: 17px;
    }
    .name{
        font-size: 50px;
    }
    .description{
        font-size: 14px;
    }
    .skill i{
        font-size: 100px;
    }
    .proba{
        opacity: 1;
    }
    #skills {
        height: 450px;
    }
    .ttl{
        padding: 50px 0 0 0;
    }
}
@media (max-width: 520px) {
    .tel, .mail{
        font-size: 20px;
    }
    .ttl{
        padding: 50px 0 0 0;
    }
    .educationDiv, .skillsDiv, .projectsDiv, .contactDiv{
        padding: 50px 0;
    }
    .skill i {
        font-size: 80px;
    }
    .arrow{
        display: inline-block;
    }
    #skills{
        height: 370px;
    }
    section {
        width: 90%;
    }
}
@media (max-width: 430px){
    #mobileNav{
        display: flex;
        box-shadow: -2px 4px 45px -12px rgba(0,0,0,0.69);
        position: fixed;
    }
    .homeIcons button {
        padding: 8px 10px;
        font-size: 12px;
        margin: 3px 0 0px 0;
    }
    #skills{
        height: auto;
    }
    .skill{
        flex: 45%;
        opacity: 1;
        color: #0b56a4;
    }
    .skill i{
        color: #0b56a4;
        opacity: 1;
        font-size: 70px;
    }
    .arrrow{
        display: none;
    }
    .ttl {
        padding: 30px 0 0 0;
    }
    .name {
        font-size: 35px;
    }
    .description {
        font-size: 13px;
    }
    header {
        height: 420px;
        margin-top: 60px;
    }
    .headerNav {
        display: none;
    }
    .educationDiv, .skillsDiv, .projectsDiv, .contactDiv {
        padding: 30px 0;
    }
    .project {
        margin: 10px;
    }
    .project img {
        height: 120px;
    }
    .bg h2 {
        padding: 15px 0;
        font-size: 17px;
    }
    .bg p{
        font-size: 11px;
    }
    .projectInfo > div {
        padding: 0px;
    }
    .icon {
        display: inline-block;
        margin: 0px 10px;
    }
    .icon i {
        font-size: 19px;
    }
    .contactData {
        padding: 0 0 20px 0;
    }
    .tel, .mail {
        font-size: 15px;
    }
    .formDiv input, textarea {
        margin: 4px 0;
        font-size: 13px;
    }
    .formDiv button {
        padding: 8px 10px;
        font-size: 12px;
        margin: 3px 0 0px 0;
    }
    .arrows{
        display: none;
    }
    #toTop{
        display: none;
    }
    #navModal {
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.7);
        position: fixed;
        top: 0;
        opacity: 0;
        left: -1000px;
        display: block;
        transition: 0.7s all;
    }
    #navModal div {
          width: 200px;
          height: auto;
          margin: auto;
    }
    #navModal div nav {
          margin: 80px 0;
    }
    #navModal div nav ul {
          padding: 0;
          text-align: center;
    }
    #navModal div nav ul li {
          display: block;
          list-style-type: none;
          padding: 10px 0;
    }
    #navModal div nav ul li a {
          color: white;
          text-decoration: none;
          font-size: 25px;
    }
}